.rounded {
  counter-reset: li;
  list-style: none;
  font: 16px 'Trebuchet MS', 'Lucida Sans';
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.rounded a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #dad2ca;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}
.rounded a:hover {
  background: #e9e4e0;
}
.rounded a:hover:before {
  transform: rotate(360deg);
}
.rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8fd4c1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

#main-content-div7 {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr 3fr;

  min-height: 60vh;
  height: auto;
}
#main-content-div7 h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
  grid-column: 1/2;
}
.list-div ol li {
  padding: 10px 0;
}
.list-div ol span {
  font: 18px 'Trebuchet MS', 'Lucida Sans';
  font-weight: bold;
  text-transform: uppercase;
}
.list-div {
  border-bottom: 2px solid black;
}
