/* @import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600'); */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background: url('../../background/geometry2.png');
}

#main-content-div,
#main-content-div2,
#main-content-div3 {
  min-height: 80vh;
  height: auto;
  padding: 10px 0px;
}

.form-div {
  height: 8vh;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.button-div {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-div {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.forward {
  font-size: 14px;
  background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
  border: 1px solid #e5a900;
  color: #4e4d4b;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 0;
  outline: none;
  margin: 0 auto;
}

.forward:hover {
  background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

/* .input-date {
  text-align: center;
  height: 50%;
  width: 13%;
  border-radius: 5px;
  border: 1px solid black;
}

.input-number {
  text-align: center;
  height: 50%;
  width: 13%;
  border-radius: 5px;
  border: 1px solid black;
} */
