.visibility {
  display: none;
}

input[data-rule].valid {
  border: 1px solid #3bb4e5;
}

.invalid {
  border: 1px solid red;
}

.col-3:first-child {
  border: 1px solid #3bb4e5;
  width: 80px;
}

.all-correct {
  box-shadow: 0 0 2em 0.5em #3bb4e5;
}

.not-correct {
  box-shadow: 0 0 0.5em 0.1em #ed4c67;
}
.not-correct:hover {
  box-shadow: 0 0 2em 0.1em #ea2027;
}
